[submodule "telegram-worker"]
	path = workers/telegram-worker
	url = ./workers/telegram-worker
[submodule "trade-worker"]
	path = workers/trade-worker
	url = ./workers/trade-worker
[submodule "webhook-receiver"]
	path = workers/webhook-receiver
	url = ./workers/webhook-receiver
[submodule "d1-worker"]
	path = workers/d1-worker
	url = ./workers/d1-worker
[submodule "web3-wallet-worker"]
	path = workers/web3-wallet-worker
	url = ./workers/web3-wallet-worker
[submodule "workers/home-assistant-worker"]
	path = workers/home-assistant-worker
	url = ./workers/home-assistant-worker
