[submodule "workers/telegram-worker"]
	path = workers/telegram-worker
	url = https://github.com/jango-blockchained/telegram-worker.git
[submodule "workers/trade-worker"]
	path = workers/trade-worker
	url = https://github.com/jango-blockchained/trade-worker.git
[submodule "workers/hoox"]
	path = workers/hoox
	url = https://github.com/jango-blockchained/hoox.git
[submodule "workers/d1-worker"]
	path = workers/d1-worker
	url = https://github.com/jango-blockchained/d1-worker.git
[submodule "workers/home-assistant-worker"]
	path = workers/home-assistant-worker
	url = https://github.com/jango-blockchained/home-assistant-worker.git
[submodule "workers/agent-worker"]
	path = workers/agent-worker
	url = https://github.com/jango-blockchained/agent-worker.git
[submodule "workers/web3-wallet-worker"]
	path = workers/web3-wallet-worker
	url = https://github.com/jango-blockchained/web3-wallet-worker.git
[submodule "workers/email-worker"]
	path = workers/email-worker
	url = https://github.com/jango-blockchained/email-worker.git
